# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/college_rosemont.png
src/assets/ets.png
src/assets/hoops-league-registration-app.png
src/assets/iris-predictor-web-app.png
src/assets/dofus-book.png
src/assets/linkedin_profile_picture.png
*.pdf
